Werkzeug==2.2.2
flask==2.0.2
requests>=2.26.0
pykew>=0.1.3
gunicorn==20.1.0
sqlalchemy
# AWS
botocore==1.34.121
boto3==1.34.121
awscli==1.33.3
s3fs
# Installed by apk in Dockerfile
# numpy
# scipy
# pandas
# Still failing
# fastparquet
